header{
            color:white;
            background-color: #39424e;
            height: 100px;
            padding:10px;
}
#number,#character,#string,#numericTree,#binarysearchTree,#fullBinaryTree,#skewTree,
#numericGraph,#completeGraph,#nPartiteGraph,#fibonacciSeries,
#numberMatrix,#characterMatrix,#numberArray,#characterArray,#stringArray{
    border:1.5px solid #26a655;
    width:200px;
    border-radius:5px;
    background:white;
    height:110px;
    margin-top:50px; 
}

#number p,#character p,#string p,#numericTree p,#skewTree p{
    font-size:24px;
    color:#26a655;
    margin-top:33px;
    margin-left:45px;
}
#binarysearchTree p,#fullBinaryTree p,#numericGraph p,#completeGraph p, 
#nPartiteGraph p,#fibonacciSeries p,
#numberMatrix p,#characterMatrix p,#numberArray p,#characterArray p ,#stringArray p{ 
    font-size:24px;
    color:#26a655;
    margin-top:20px;
    margin-left:45px;
}
div.container a{
    text-decoration:none;
}
h2{
    text-align: center; 
}
#numberForm,#characterForm,#stringForm,#numericTreeForm,#binarysearchTreeForm,#fullBinaryTreeForm,#skewTreeForm,
#numericGraphForm,#completeGraphForm,#nPartiteGraphForm,#fibonacciSeriesForm,
#numberMatrixForm,#characterMatrixForm,#numberArrayForm,#characterArrayForm,#stringArrayForm{
    border:1px solid #7f7f7f;
    width:350px;
    background:#ededed;
    border-radius:4px;
    padding:20px;
    margin-top:45px;
    box-shadow: 2px 2px #7f7f7f;
} 
span{
    color:maroon;
}