.btn-xl{
        width:60%;
        margin-left:250px;
    }
header{
      background-color:green;
      color: white;
      padding: 15px;
    }
#number,#character,#ArrayOfNumbers,#ArrayOfCharacters,#ArrayOfStrings,
#MatrixOfNumbers,#MatrixOfCharacters,#FibonacciSeries,#BinarySearchTree,
#BalancedBST,#NumericGraph,#CompleteGraph,#NPartiteGraph,#NumericTree,
#CharacterTree,#FullBinaryTree,#SkewTree{
         padding-bottom: 30px;
    }
span{
    color:maroon;
}